<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome to Airbooks!</h1>
    <p>Airbooks lets you rent books for fixed time periods.</p>
    <form action="search/results/">
      <input type="text" class="form-control" name="q" placeholder="Search" style="">
      <br>
	  <input type="submit" class="btn btn-success" value="Submit">
	</form>
    <!-- <a class="btn btn-lg btn-success" href="/users/sign_up" role="button">Sign up today</a> -->
  </div>
</div>

<div class="container">
<div id="wrapper">
  <div class="text-center">
  <h3>Books you might be interested in</h3>
    </div>
  <div id="columns">
    <% @books.each do |book| %>
       <%= link_to book do %>
        <div class="pin">
        <%= image_tag book.image.url(:medium) %>
        <p>
          <%= book.title %>
        </p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>