<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome to Airbooks!</h1>
    <p>Airbooks lets you rent books for fixed time periods.</p>
    <form action="search/results/">
	<input type="text" class="form-control" name="q" placeholder="Search">
    <br>
	<input type="submit" class="btn btn-success" value="Submit">
	</form>
    <!-- <a class="btn btn-lg btn-success" href="/users/sign_up" role="button">Sign up today</a> -->
  </div>
</div>