<h1>Your Account</h1>

<%= link_to 'Edit your profile', edit_user_registration_path %> <br />
<%= link_to 'View your listings', books_path %> <br />
<%= link_to 'View your transactions', '/' %> <br />
<%= link_to 'View balance and deposit points', user_balance_path %> <br />