<h1>Your Account</h1>
<br>
<div class="list-group">
  <a href="<%= edit_user_registration_path %>" class="list-group-item">
    <h4 class="list-group-item-heading">Edit your profile</h4>
  </a>
  <a href="<%= books_path %>" class="list-group-item">
    <h4 class="list-group-item-heading">View your book listing</h4>
  </a>
  <a href="<%= transactions_path %>" class="list-group-item">
    <h4 class="list-group-item-heading">View your transactions</h4>
  </a>
  <a href="<%= user_balance_path %>" class="list-group-item">
    <h4 class="list-group-item-heading">View balance and deposit points</h4>
  </a>
</div>